::-webkit-scrollbar {
    display: none;
}

main {
    padding: 3rem;
    padding-bottom: 0;
}

main h1 {
    font-family: "Quicksand", sans-serif;
    letter-spacing: -0.05rem;
    font-size: 2em;
}

main a,
main a:visited {
    color: #0a61d3;
}
