::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55);
}

html {
    scrollbar-width: 8px;
    scrollbar-color: rgba(0, 0, 0, 0.45) transparent;
}

main {
    padding: 3rem;
}

main h1 {
    font-family: "Quicksand", sans-serif;
    letter-spacing: -0.05rem;
    font-size: 2rem;
}

main a,
main a:visited {
    color: #0a61d3;
}

@media screen and (max-width: 1000px) {
    main {
        padding: 2rem 1rem;
    }
}
