nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    width: 20vw;
    height: 5rem;
    display: flex;
    justify-content: center;
}

nav ul li a,
nav ul li a:visited {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 0;
    opacity: 70%;
}

nav ul li a::before {
    content: '→\00a0\00a0\00a0\00a0';
}

nav ul li a::after {
    content: '\00a0\00a0\00a0\00a0←';
}

nav ul li a::before,
nav ul li a::after {
    opacity: 0;
    transition: all 0.25s ease;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    opacity: 1;
}

@media (max-width: 1000px) {
    nav {
        margin-top: 1rem;
        margin-left: 2rem;
    }

    nav ul {
        width: fit-content;
        flex-direction: column;
    }

    nav ul li {
        width: 15rem;
        height: 3.5rem;
        justify-content: left;
    }

    nav ul li a::before {
        content: '';
    }

    nav ul li a::after {
        content: '\00a0\00a0\00a0←';
    }
}
