nav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.479);
}

nav ul li {
    margin: 0.25rem 5rem;
}

nav ul li a,
nav ul li a:visited {
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem !important;
    text-transform: uppercase;
    text-align: center;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-item {
    position: relative;
}

.nav-item::before,
.nav-item::after {
    content: "";
    position: absolute;
    background-color: black;
    width: calc(100% + 5vw);
    height: 2px;
    transition: transform 0.3s ease;
}

.nav-item::before {
    top: -3px;
    left: -2.5vw;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-item::after {
    bottom: -3px;
    right: -2.5vw;
    transform: scaleX(0);
    transform-origin: right;
}

.nav-item:hover::before,
.nav-item:hover::after {
    transform: scaleX(1);
}

@media screen and (max-width: 1200px) {
    .nav-item::before,
    .nav-item::after {
        transition: none;
        height: 0;
    }
}
