body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5rem 5rem 0 7.5rem;
}

#content h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    letter-spacing: -0.05rem;
    padding-top: 2.5rem;
}

#content p:last-child {
    padding-bottom: 4rem;
}

#content div.img {
    margin: 0 5rem;
    float: right;
    clear: right;
}

#content div.img img {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 400px;
}

#content div.img p {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.1rem;
    padding: 0;
}

#content div.img#porsche-917 img,
#content div.img#mazda-787b img {
    width: 325px;
}

#content div.img#porsche-917 p,
#content div.img#mazda-787b p {
    margin-top: -0.125rem;
}

#content h1 ~ p a,
#content h1 ~ p a:visited {
    color: #0a61d3;
}

#content h1 ~ p em.important {
    font-style: normal;
    font-weight: bold;
}
