body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    font-family: "Segoe UI", sans-serif;
    padding: 7.5rem 5rem 0 7.5rem;
}

main h1 {
    font-family: "Quicksand", sans-serif;
    letter-spacing: -0.05rem;
    margin-bottom: 0;
}

main div.content {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main div.content:last-child {
    padding-bottom: 5rem;
}

main div.content div.text {
    margin-right: 7.5rem;
}

main div.content div.text p a,
main div.content div.text p a:visited {
    color: #0a61d3;
}

main div.content div.text p em.important {
    font-style: normal;
    font-weight: bold;
}

main div.content div.img img {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 400px;
}

main div.content div.img p {
    font-size: 0.9rem;
    text-align: center;
    margin: 0.1rem 0 0 0;
    padding: 0;
}

main div.content div#porsche-mazda img {
    width: 325px;
}

main div.content div#porsche-mazda p:first-of-type {
    margin-bottom: 1rem;
}
