main {
    padding-top: 0;
}

main section:first-child,
main section:nth-child(2) {
    height: 100vh;
}

main section > h1 {
    font-size: 2rem;
}

main section#today {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

main section#today img {
    width: 45vw;
}

main section#today table {
    border-collapse: collapse;
    border: 1px solid #000;
}

main section#today table td,
main section#today table th {
    border: 1px solid #000;
    padding: 0.5rem;
}

main section#today > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main section#today > div table#general th {
    text-align: left;
    padding-right: 1rem;
}

main section#today > div table#general td {
    padding: 0 1rem;
}

main section#today > div table#fastest-lap td div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin: 0.4rem;
}

main section#today > div table#fastest-lap td div.driver img {
    width: 25px;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}

main section#today > div table#fastest-lap td div.car img {
    width: 32.5px;
}

main section#evolution img {
    height: 75vh;
}

main section#evolution,
main section#history {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

main section#history > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main section#history div.data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

main section#history div.data:nth-child(even) {
    flex-direction: row;
}

main section#history div.data:nth-child(odd) {
    flex-direction: row-reverse;
}

main section#history div.data h1 {
    font-size: 1.3rem;
    letter-spacing: 0;
}

main section#history div.data div.content {
    width: 40vw;
}

main section#history img {
    width: 47.5vw;
}
